@font-face{
	font-family: bebas;
	src:url(BebasNeue.ttf);
}
.about-intro h4 {
    font-size: 35px!important;
    font-family: bebas;
}
.section-heading h3 {

    font-family: bebas;
    font-size: 35px;
}